<h1>truffe#index</h1>

<div id="gallery">
	<div id="slides">
		<div class="slide a"></div>
		<div class="slide b"></div>
		<div class="slide c"></div>
		<div class="slide d"></div>
	</div>
	<ul id="menu">
		<li class="menuitem"></li>
		<li class="menuitem"></li>
		<li class="menuitem"></li>
		<li class="menuitem"></li>
	</ul>
	<h1 class="title show">truffe#index</h1>
</div>

<div id="records">
	<h2>New Album</h2>
	<ul>
		<li>
			<div class="">TRANSIENT CITY/PSYCHEDELIC JAZZ</div>
			<p>available May 2, 2012</p>
			<%= image_tag 'image_001.jpg', :size => '140x140', :alt => 'TRANSIENT CITY/PSYCHEDELIC JAZZ' %>
		</li>
	</ul>
</div>

<div id="news">
	<h2>News</h2>
	<ul>
		<li><p>2012.08.08</p><p>Webサイトがオープンしました。</p></li>
	</ul>
</div>
