<div id="profile">
  <div id="profile_image"><%= image_tag 'profile/profile.jpg', :alt => 'profile_image' %></div>
  <div id="profile_detail">
    <h3><%= t('profile.name') %></h3>
    <% if @basic_data %>
      <div id="introduction"><%= raw(@basic_data.profile) %></div>
    <% end %>
  </div>
</div>
