<% @page_title = t('profile.title') %>
<h1><%= @page_title %></h1>

<%= image_tag 'profile.jpg', :alt => 'profile_image' %>

<h3><%= t('profile.name') %></h3>
<% if @basic_data %>
  <div><%= raw(@basic_data.profile) %></div>
<% end %>
