@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Autour+One);

body {
  background-image: url('shared/fabric_bg.jpg');
}

#wrapper {
  margin: 0px auto;
  width: 840px;
  min-height: 960px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  @include box-shadow(0px 0px 30px 1px rgba(0, 0, 0, 0.2));
}
#wrapper.l { width: 840px; }
#wrapper.s { width: 640px; }

header {
  display: -webkit-box;
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 840px;
  min-height: 52px;
  color: #fff;
  font-family: Cursive;
  -webkit-box-align: center;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);

  ul#nav {
    li {
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      float: left;
      font-size: 18px;
      letter-spacing: 0.1em;
      text-shadow: 0.5px 0.5px 0.5px #666;
      @include size(138px, 52px);
      @include background(linear-gradient(
        color-stops(#aa8264 0%, #915f32 35%, #7d4b1e 65%, #6e3c0f 100%)
      ));
      @include box-shadow(
        rgba(100, 100, 100, 0.3) 0px 0px 3px,
        rgba(255, 255, 255, 0.2) 1px 1px 3px inset,
        rgba(150, 150, 150, 0.1) -1px -1px 3px inset);

      &.Gigs {
        width: 128px;
      }
      &.Discography {
        width: 160px;
      }

      > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 52px;
        color: #fff;
        text-align: center;
      }

      &:not(.selected):hover {
        @include background(linear-gradient(
          color-stops(#C69F79 0%, #A47D57 50%, #925C47 100%)
        ));
      }
      &:not(.selected):active {
        @include box-shadow(
          rgba(100, 100, 100, 0.3) 0px 0px 3px,
          rgba(150, 150, 150, 0.1) 1px 1px 3px inset,
          rgba(255, 255, 255, 0.2) -1px -1px 3px inset);
      }
    }
  }
}

#container {
  position: relative;
  padding-top: 50px;

  h1.page_title {
    margin: 40px 0px 0px 40px;
    text-align: left;
    min-width: 320px;
    max-width: 350px;
    font-size: 32px;
    font-family: 'Autour One', cursive;
  }

  h2 {
    margin-bottom: 40px;
    font-family: 'Autour One', cursive;
  }

  .page_footer {
    @include size(100%, 55px);
    @include bg-img('shared/border_leaves.png');
  }
}

footer {
  #open_login {
    margin-right: 20px;
    font-size: 10px;
    float: right;
  }
}

.disc {
  overflow: hidden;
  .disc_image {
    float: left;
  }
  .disc_detail {
    margin-left: 20px;
    float: left;
  }
}

form {
  .field {
    margin-bottom: 10px;
    label {
      @include size(220px, 20px);
      margin-bottom: 5px;
      font-size: 17px;
    }
    input {
      @include size(220px, 20px);
      @include border-radius(4px);
      padding: 5px;
      font-size: 17px;
      background-color: rgba(200, 200, 200, 0.5);
    }
  }
  .actions {
    input {
      @include size(120px, 30px);
      @include border-radius(4px);
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 5px;
      font-size: 15px;
      text-align: center;
      background-color: rgba(150, 150, 200, 0.5);
    }
  }
}






// Media Query の例

/* Media Query
----------------------------------- */ 
@media screen and (max-width: 950px) {
  #containerCover {
    margin: 125px auto 50px;
    padding-top: 0;
  }
  #containerInnr {
    padding: 0 30px;
  }
}
@media screen and (max-width: 480px) {
  #containerCover {
    margin: 170px auto 50px;
  }
  #containerInnr {
    padding: 0 5px;
  }
}
