#release {
  @include basic-column(100%);

  #discographies_list {
    li {
      display: block;
      margin: 10px;
      margin-bottom: 40px;
      clear: both;
      min-height: 180px;

      .disc_image {
        float: left;
      }

      .disc_detail {
        margin-left: 200px;
        max-width: 520px;

        .title {
          margin-bottom: 5px;
          font-size: 22px;
          font-weight: bold;
          @include border-image(url('shared/line_a.png') 15);
          border-width: 0px 0px 6px 0px;
        }
      }
    }
  }

  #no_discs {
    @include no_info_design;
  }
}
