@charset "utf-8";

body {
  background-image: url('shared/fabric_bg.jpg');
}

#wrapper {
  margin: 0px auto;
  width: 800px;
  min-height: 960px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  @include box-shadow(0px 0px 30px 1px rgba(0, 0, 0, 0.2));
}
#wrapper.l { width: 800px; }
#wrapper.s { width: 640px; }

header {
  display: -webkit-box;
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 800px;
  min-height: 50px;
  color: #fff;
  font-family: Cursive;
  -webkit-box-align: center;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);

  #title {
    display: block;
    a {
      display: block;
      width: 230px;
      height: 50px;
      line-height: 50px;
      color: #fff;
      text-align: center;
      @include background(linear-gradient(
        color-stops(#aa8264 0%, #915f32 35%, #7d4b1e 65%, #6e3c0f 100%)
      ));
    }
  }

  ul#nav {
    li {
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      float: left;
      font-size: 18px;
      text-shadow: 0.5px 0.5px 0.5px #666;
      @include size(95px, 50px);
      @include background(linear-gradient(
        color-stops(#aa8264 0%, #915f32 35%, #7d4b1e 65%, #6e3c0f 100%)
      ));
      @include box-shadow(
        rgba(100, 100, 100, 0.3) 0px 0px 3px,
        rgba(255, 255, 255, 0.2) 1px 1px 3px inset,
        rgba(150, 150, 150, 0.1) -1px -1px 3px inset);

      &.Gigs {
        width: 80px;
      }
      &.Discography {
        width: 110px;
      }

      > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 50px;
        color: #fff;
        text-align: center;
      }

      &:not(.selected):hover {
        @include background(linear-gradient(
          color-stops(#C69F79 0%, #A47D57 50%, #925C47 100%)
        ));
      }
      &:not(.selected):active {
        @include box-shadow(
          rgba(100, 100, 100, 0.3) 0px 0px 3px,
          rgba(150, 150, 150, 0.1) 1px 1px 3px inset,
          rgba(255, 255, 255, 0.2) -1px -1px 3px inset);
      }
    }
  }
}

#container {
  position: relative;
  padding-top: 50px;

  .page_header {
    margin-top: 30px;
    @include size(100%, 55px);
    @include bg-img('shared/border_leaves.png');
  }

  h1.page_title {
    @include from-top-left(50px, 0px);
    margin: 20px 0px 0px 20px;
    padding: 10px;
    text-align: center;
    min-width: 320px;
    max-width: 350px;
    font-size: 28px;
    font-family: Cursive;
    @include transform(rotate(-3deg));
    @include bg-img('shared/frame_bg.png');
  }

  h2 {
    margin-bottom:20px;
    font-family: Cursive;
  }

  .page_footer {
    @include size(100%, 55px);
    @include bg-img('shared/border_leaves.png');
  }
}

footer{
  #open_login{
    margin-right: 20px;
    font-size: 10px;
    float: right;
  }
}

.disc{
  overflow: hidden;
  .disc_image{
    float: left;
  }
  .disc_detail{
    margin-left: 20px;
    float: left;
  }
}








// Media Query の例

/* Media Query
----------------------------------- */ 
@media screen and (max-width: 950px) {
  #containerCover {
    margin: 125px auto 50px;
    padding-top: 0;
  }
  #containerInnr {
    padding: 0 30px;
  }
}
@media screen and (max-width: 480px) {
  #containerCover {
    margin: 170px auto 50px;
  }
  #containerInnr {
    padding: 0 5px;
  }
}
