#gigs {
  @include basic-column(100%);
  padding-bottom: 50px;

  #gigs_list {
    li {
      display: block;
      margin: 10px;
      padding-top: 25px;
      clear: both;
      min-height: 125px;
      @for $i from 0 through 3 {
        &[data-recommend="#{$i}"] {
          @include bg-img('shared/date_frame_' + $i + '.png');
          background-size: 150px 150px;
        }
      }

      .date {
        position: relative;
        float: left;
        font-family: Cursive;
        text-align: center;
        @include size(150px, 120px);
        .year {
          @include from-top-left(54px, 55px);
          width: 50px;
          font-size: 20px;
        }
        .month {
          @include from-top-left(9px, 46px);
          width: 30px;
          font-size: 25px;
        }
        .day {
          @include from-top-left(17px, 84px);
          width: 30px;
          font-size: 30px;
        }
        .date_end {
          @include from-top-left(57px, 44px);
          width: 70px;
          font-size: 17px;
        }
      }

      .title {
        margin-left: 160px;
        margin-bottom: 5px;
        font-size: 18px;
        @include border-image(url('shared/line_a.png') 15);
        border-width: 0px 0px 6px 0px;
      }

      .group {
        font-size: 18px;
      }

      .location {
      }
      .charge {
        margin-left: 160px;
      }
      .players {
        margin-left: 160px;
      }
      .comment {
        margin-left: 160px;
      }
      .new {
        margin-left: 160px;
      }
    }
  }

  #no_gigs {
    @include no_info_design;
  }

  #gigs_nav_top {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  #gigs_nav_bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .nav_change_month {
    margin: 20px;
    min-width: 250px;
    height: 58px;

    a {
      display: block;
      float: left;
      padding-left: 20px;
      padding-right: 20px;
      min-width: 80px;
      height: 58px;
      line-height: 62px;
      text-align: center;
      @include bg-img('shared/button_frame.png');

      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
