$gallery-width: 485px;
$gallery-height: $gallery-width / 1.618;

h1#site_title {
  @include from-top-left(70px, 20px);
  font-family: Cursive;
  line-height: 50px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#gallery {
  /* The width of the gallery */
  margin-top: 20px;
  padding-left: 780px - $gallery-width - 3px;
  padding-right: 20px;
  width: $gallery-width;
  overflow: hidden;
}
#wrapper.l #gallery { width: $gallery-width; }
#wrapper.s #gallery { width: 640px; }


#slides {
  position: relative;
  width: 640px; //jQuery changes
  border: 3px solid $themecolor1;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0px;
  left: 0px;
}

#wrapper.l #slides {
  height: $gallery-height;
  .slide { @include size($gallery-width, $gallery-height) }
  .slide.a { @include bg-img('slide_01.jpg') }
  .slide.b { @include bg-img('slide_02.jpg') }
  .slide.c { @include bg-img('slide_03.jpg') }
  .slide.d { @include bg-img('slide_04.jpg') }
}
#wrapper.s #slides {
  height: 320px;
  .slide { @include size(640px, 320px) }
  .slide.a { @include bg-img('640x320e.jpg') }
  .slide.b { @include bg-img('640x320f.jpg') }
  .slide.c { @include bg-img('640x320g.jpg') }
  .slide.d { @include bg-img('640x320h.jpg') }
}

ul#menu {
  padding: 5px 280px 5px 280px;
  @include size(80px, 20px);
  li {
    display: block;
    float: left;
    margin-right: 5px;
    @include size(16px, 16px);
    background-color: rgba(100, 100, 100, 0.5);
    -webkit-border-radius: 8px;
    &:last-child{ margin: 0px }
  }
  li.inact:hover {
    /* The inactive state, highlighted on mouse over */
  }
  li.act, li.act:hover {
    cursor: default;
    background-color: $themecolor1
  }
}
#wrapper.l ul#menu {
  padding: 5px (($gallery-width - 80) / 2);
}




// galleryの上にサイトタイトル置く案
#gallery {
  position: relative;
}

h1.title {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  visibility: hide;
  &.show { visibility: normal }
}

#records {
  @include basic-column(100%);
  .disc {
    .disc_image {
      float: left;
    }

    .disc_detail {
      float: left;
      max-width: 560px;

      .title {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

#news {
  @include basic-column(100%)
}

#profile {
  @include basic-column(100%);
  overflow: hidden;

  #profile_image {
    float: left;
  }

  #profile_detail {
    margin-left: 20px;
    float: left;
    max-width: 460px;
    h3 {
      margin-bottom: 20px;
    }
  }
}

/* book style start... */
#profile {
  @include bg-img('profile/book_bg1.png');
  border-radius: 0px;
  background-color: transparent;

  #profile_image {
    margin: 40px;
    margin-left: 75px;
    margin-right: 85px;
    img {
      width: 200px;
      opacity: 0.7;
    }
  }

  #profile_detail {
    padding-top: 30px;
    width: 320px;
    line-height: 1.8;
  }
}
/* book style ...end */


/* Photos */
#photos {
  @include basic-column(100%);
  padding-bottom: 50px;

  #photos_list {
    li {
      display: block;
      margin: 20px;
      clear: both;
      min-height: 120px;

      .photo_date {
      }
      .image {
      }
      .album {
      }
      .title {
      }
      .comment {
      }
    }
  }

  #no_photos {
    @include no_info_design;
  }
}


/* Contacts */
#contacts {
  @include basic-column(100%)
}
