<% @page_title = 'ライブスケジュール' -%>
<%# @side_bar_template_name = 'shared/side_bar' %>
<h1><%= @page_title %></h1>
<h2><%= Time.now.month %>月のライブスケジュール</h2>
<p>今月のオススメライブは20日の○○です。ぜひお越しください。</p>

<% unless @gigs.blank? %>
  <%#= render :partial => 'show' %>

	<% @gigs.each do |gig| %>
		<%= gig.gig_date %>
	<% end %>

  <div class='paginate'>
    <%= will_paginate @gigs, :previous_label => '前へ', :next_label => '次へ', :inner_window => 2 %>
  </div>
<% else %>
  <div>この月の出演情報はありません。</div>
<% end %>
